<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>particles</key>
		<integer>32768</integer>
		<key>clusterScale</key>
		<real>2</real>
		<key>config</key>
		<integer>1</integer>
		<key>damping</key>
		<real>1</real>
		<key>isGPUOnly</key>
		<false/>
		<key>pointSize</key>
		<integer>1</integer>
		<key>rotateX</key>
		<integer>66</integer>
		<key>rotateY</key>
		<real>137</real>
		<key>softening</key>
		<real>0.025</real>
		<key>timeStep</key>
		<real>0.0064</real>
		<key>velocityScale</key>
		<real>1</real>
		<key>viewDistance</key>
		<real>10</real>
	</dict>
	<dict>
		<key>particles</key>
		<integer>32768</integer>
		<key>clusterScale</key>
		<real>1.54</real>
		<key>config</key>
		<integer>1</integer>
		<key>damping</key>
		<real>1</real>
		<key>isGPUOnly</key>
		<false/>
		<key>pointSize</key>
		<real>1</real>
		<key>rotateX</key>
		<real>0</real>
		<key>rotateY</key>
		<real>0</real>
		<key>softening</key>
		<real>0.1</real>
		<key>timeStep</key>
		<real>0.0064</real>
		<key>velocityScale</key>
		<real>8</real>
		<key>viewDistance</key>
		<real>30</real>
	</dict>
	<dict>
		<key>particles</key>
		<integer>32768</integer>
		<key>clusterScale</key>
		<real>0.32</real>
		<key>config</key>
		<integer>1</integer>
		<key>damping</key>
		<real>1</real>
		<key>isGPUOnly</key>
		<false/>
		<key>pointSize</key>
		<real>0.18</real>
		<key>rotateX</key>
		<real>90</real>
		<key>rotateY</key>
		<real>0</real>
		<key>softening</key>
		<real>1</real>
		<key>timeStep</key>
		<real>0.00076</real>
		<key>velocityScale</key>
		<real>276</real>
		<key>viewDistance</key>
		<real>9</real>
	</dict>
	<dict>
		<key>particles</key>
		<integer>32768</integer>
		<key>clusterScale</key>
		<real>0.68</real>
		<key>config</key>
		<integer>1</integer>
		<key>damping</key>
		<real>1</real>
		<key>isGPUOnly</key>
		<false/>
		<key>pointSize</key>
		<real>1.2</real>
		<key>rotateX</key>
		<real>39</real>
		<key>rotateY</key>
		<real>2</real>
		<key>softening</key>
		<real>0.1</real>
		<key>timeStep</key>
		<real>0.0064</real>
		<key>velocityScale</key>
		<real>20</real>
		<key>viewDistance</key>
		<real>50</real>
	</dict>
	<dict>
		<key>particles</key>
		<integer>32768</integer>
		<key>clusterScale</key>
		<real>0.16</real>
		<key>config</key>
		<integer>1</integer>
		<key>damping</key>
		<real>1</real>
		<key>isGPUOnly</key>
		<false/>
		<key>pointSize</key>
		<real>0.15</real>
		<key>rotateX</key>
		<real>-83</real>
		<key>rotateY</key>
		<real>10</real>
		<key>softening</key>
		<real>1</real>
		<key>timeStep</key>
		<real>0.00024</real>
		<key>velocityScale</key>
		<real>1000</real>
		<key>viewDistance</key>
		<real>5</real>
	</dict>
	<dict>
		<key>particles</key>
		<integer>32768</integer>
		<key>clusterScale</key>
		<real>0.32</real>
		<key>config</key>
		<integer>1</integer>
		<key>damping</key>
		<real>1</real>
		<key>isGPUOnly</key>
		<false/>
		<key>pointSize</key>
		<real>0.1</real>
		<key>rotateX</key>
		<integer>0</integer>
		<key>rotateY</key>
		<real>0</real>
		<key>softening</key>
		<real>0.145</real>
		<key>timeStep</key>
		<real>0.0006400000000000001</real>
		<key>velocityScale</key>
		<real>272</real>
		<key>viewDistance</key>
		<real>4.15</real>
	</dict>
	<dict>
		<key>particles</key>
		<integer>32768</integer>
		<key>clusterScale</key>
		<real>6.04</real>
		<key>config</key>
		<integer>1</integer>
		<key>damping</key>
		<real>1</real>
		<key>isGPUOnly</key>
		<false/>
		<key>pointSize</key>
		<integer>1</integer>
		<key>rotateX</key>
		<real>0</real>
		<key>rotateY</key>
		<real>0</real>
		<key>softening</key>
		<real>1</real>
		<key>timeStep</key>
		<real>0.0064</real>
		<key>velocityScale</key>
		<real>0</real>
		<key>viewDistance</key>
		<real>20</real>
	</dict>
</array>
</plist>
